 @font-palette-values --titlePalette {

                font-family: 'Honk';
                base-palette: 0;

                override-colors: 2 #5979f4, 3 #5979f4, 4 #5979F4, 5 #F4D459, 6 #F4D459, 7 #F4D459;


            };